section {
	width: 800px;
	margin: 50px auto;
}
section h1,
section p {
	text-align: center;
	color: #454545;
}
section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
}
section p {
	font: 16px 'Open Sans';
}
.gal {
	position: absolute;
	right: 460px;
	top: 160px;
}
.rob {
	position: absolute;
	right: 600px;
	top: 280px;
}
